# Execute a script when the laptop work on battery or not
SUBSYSTEM=="power_supply", ATTR{online}=="0", RUN+="/opt/udev-scripts/udev-power-source.sh battery"
SUBSYSTEM=="power_supply", ATTR{online}=="1", RUN+="/opt/udev-scripts/udev-power-source.sh ac"
