# Execute screen-hotplug.sh when a screen is plugged
ACTION=="change", SUBSYSTEM=="drm", ENV{HOTPLUG}=="1", RUN+="/opt/udev-scripts/screen-hotplug.sh"

# Execute energy.sh when the power supply change its state
SUBSYSTEM=="power_supply", ATTR{online}=="0", RUN+="/opt/udev-scripts/energy.sh battery"
SUBSYSTEM=="power_supply", ATTR{online}=="1", RUN+="/opt/udev-scripts/energy.sh ac"

# Enable power saving on PCI
ACTION=="add", SUBSYSTEM=="pci", ATTR{power/control}="auto"

# Disable WOL on Ethernet connections
ACTION=="add", SUBSYSTEM=="net", KERNEL=="enp*", RUN+="/usr/sbin/ethtool -s %k wol d"
